body {
    background-color: #D2DCBA;
}

.clock {
    color: white;
    background-color: black;
    height: 300px;
    width: 300px;
    border: 3px black solid;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 black;
    position: relative;
}


.sec-hand {
    width: 1px;
    height: 50%;
    background-color: white;
    transform-origin: 50% 80%;
    position: absolute;
    top: 10%;
    left: 50%;
}

.min-hand {
    width: 3px;
    height: 40%;
    background-color: blue;
    transform-origin: 50% 80%;
    position: absolute;
    top: 18%;
    left: calc(50% - 1px);
}

.hr-hand {
    width: 5px;
    height: 25%;
    background-color: red;
    transform-origin: 50% 80%;
    position: absolute;
    top: 30%;
    left: calc(50% + -2px);
}

.num {
    height: 100%;
    color: white;
    position: absolute;
    top: 1px;
    left: calc(50% + -3px);
}
